@inherits HomePageBase

<section class="container-fluid centered-container">
    <button @onclick="@NavigateToTableList" class="goldcard m-5">
        Play
    </button>
    <button  class="card2 m-5">
        Options
    </button>
    <button class="goldcard m-5">
        Account
    </button>
    <button @onclick="@LogOut" class="card2 m-5">
        Exit
    </button>
</section>
