@inherits NavMenuBase

<div >
    <AuthorizeView Roles="Admin">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/ManageTable" Match="NavLinkMatch.All">
                    <span class="oi oi-tablet" aria-hidden="true"></span> ManageTables
                </NavLink>
            </li>
        </ul>
    </AuthorizeView>
    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3 fixed-top">
                <b >Hello, @context.User.Identity.Name!</b>
                <br />
                <b>You have: @Balance</b>
            </div>
        </Authorized>
        <NotAuthorized>
            <section class="container-fluid centered-container">
                <button @onclick="@ShowLogin" class="goldcard m-5">
                    Login
                </button>
                <button @onclick="@ShowSignIn" class="card2 m-5">
                    Register
                </button>
            </section>
        </NotAuthorized>
    </AuthorizeView>
</div>
